{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping List</title>
    <base href="/">
    <link href="{% static '/resources/favicon.ico' %}" rel="Shortcut Icon" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/app.css' %}" >
    <script>
        window.config = {
            appName:'Shopping List',
            locale:'en',
            locales:{
                'en':'English',
            },
        }
    </script>


</head>
<body>
<div id="app"></div>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
